.imagen {
	width: 100%;
	img {
		width: 150px;
		margin-right: 10px;
		margin-top: 10px;
		border: 1px solid;
		border-color: white;
		border-radius: 5px;
	}
}
.galeria {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	column-gap: .5rem;
	row-gap: .5rem;
}




	p {
		padding: 30px;
		width: 100%;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	
	}






.galeria {
	img {
		-webkit-transition: all .9s ease;
		-moz-transition: all .9s ease;
		-o-transition: all .9s ease;
		-ms-transition: all .9s ease;
		&:hover {
			-webkit-transform: scale(1.50);
			-moz-transform: scale(1.50);
			-ms-transform: scale(1.50);
			-o-transform: scale(1.50);
			transform: scale(1.50);
		}
	}
}


@media (min-width:100px){
    .galeria{
        grid-template-columns: repeat(1,1fr);
		
    }
	.container{
		display: flex;
		justify-content: center;
	}
}

@media(min-width:320px){
	.galeria{
		grid-template-columns: repeat(2,1fr);
	}
	.container{
		display: flex;
		justify-content: center;
	}
	.galeria img{
		width: 75px;
	}
}

@media(min-width:425px){
    .galeria{
        grid-template-columns: repeat(2,1fr);	
    }
	.container{
		display: flex;
		justify-content: center;
	}
	.galeria img{
		width: 100px;
	}
}

@media(min-width:768px){
    .galeria{
    grid-template-columns:repeat(3,1fr);
}
.container{
	display: flex;
	justify-content: center;
}
}

@media(min-width:1024px){
	.galeria{
		grid-template-columns: repeat(5,1fr);
	}
	.galeria img{
		width: 150px;
	}
}

