$Fondo:url("../imagenes/fondos/fondo2.jpg");


@mixin body-header{
    margin: 0;
	font-family: sans-serif;
	background-image: $Fondo;
	background-repeat: no-repeat;
    header {
        width: 100%;
    }
}